body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  color: black;
}


.background-image {
  background-color: black;
}

.search {
  margin: 2rem auto;
  width: 50%;
}

.search input[type="text"] {
  height: 2.5rem;
  width: 100%;
  padding: 0 2rem;
  display: block;
  max-width: 728px;
  background: transparent;
  border-bottom: 1px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.5rem;
  color: white;
  box-sizing: border-box;
}


.background-cover{
  position: absolute;
  z-index: -1;
  width: 100%;
  opacity: 0.8;
}



.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.upper-left {
  font-size: 1.5rem;
  margin-left: 10%;
  text-align: center;
}

.upper-right {
  margin-right: 10%;
  text-align: center;
}

.upper-left h1, .upper-right h1 {
  margin-top: 0;
}

.upper-right h1{
  font-size: 4rem
}

.upper-right p{
  font-size:2rem;
}

.option-type {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  letter-spacing: 3px;
  width: 50%;
  margin: 2rem auto;
  position: relative;
}

.option-type p{
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
  padding: 0 1rem;
}

.option-type p:hover{
  font-weight: 700;
}


.hourly-info, .daily-info, .details-info{
  position:relative;
}


.hourly-info::before, .daily-info::before, .details-info::before{
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease;
  opacity: 0;
  border-radius: 5px;
  display:flex;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 260px;
  height: 60px;
  bottom: 0;
}

.hourly-info::before{
  content: 'This is hourly report of weather !';
  left: -70%;
}

.daily-info::before{
  content: 'This is daily report of weather !';
  left: -88%;
  }

.details-info::before{
  content: "Explanation about the weather !";
  left:-62%;
}

.hourly-info:hover::before, .daily-info:hover::before, .details-info:hover:before{
  opacity: 1;
  transform: translateY(-30px);
}

.description{
  display: flex;
  justify-content:center;
  align-items: center;
}


.notshowed{
  display: none;
  visibility: hidden;
}


.slide1, .slide2, .slide3 {
  width: 80%;
  height: 250px;
  margin:  0 auto;
}


.carousel-item {
  justify-content: center;
}

.active{
  display: flex !important;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active{
  display: flex;
}

.carousel-control-prev{
  left: -65px;
}

.carousel-control-next{
  right: -65px;
}

.condition {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 5% 1rem 5%;
}

.condition h3{
  font-size: 1rem;
}

.detail-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  line-height: 2
  cursor:context-menu;
}

.detail-container:hover{
  background-color:rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
